beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
decorator==5.2.1
geocoder==1.38.1
geographiclib==2.1
geopy==2.4.1
idna==3.13
osmium==4.3.1
packaging==26.2
playsound3==3.3.1
progressbar==2.5
pyobjc-core==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-CoreLocation==12.1
python-vlc==3.0.21203
ratelim==0.1.6
requests==2.33.1
setuptools==82.0.1
six==1.17.0
soupsieve==2.8.3
South==1.0.2
typing_extensions==4.15.0
urllib3==2.6.3
wheel==0.47.0
